footer.footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 25px;
    background-color: rgba(67,59,142,255);
    box-shadow: var(--shadow);
    color: #efeceb;
}